

.inner{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 20px;
    /* padding: 2px;
    border: 1px solid black; */
    font-size: 15px;
    letter-spacing:1px;
}

.mob_btn{
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 5px;
    border:1px solid white;
}

.photo{
    width: 100%;
    height: auto;
}

.character{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/* ---------------------------------- */


@media only screen and (max-width: 1024px) {

    .inner{
        font-size: 12px;
        margin-left: 20%;
        margin-right:20%;
        margin-top: 10px;
        margin-bottom: 20px;
        /* padding: 2px; 
        border: 1px solid black;*/
        
    }

    .mob_btn{
        font-size: 12px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 5px;
        border:1px solid white;
    }

    .character{
        width: 80px;
    }

}

@media screen and (max-width: 480px) {

    .inner{
        font-size: 9px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        margin-bottom: 20px;
        /* padding: 2px; 
        border: 1px solid black;*/
        letter-spacing:1px;
    }


    .mob_btn{
        font-size: 9px;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 5px;
        border:1px solid white;
    }
    .character{
        width: 60px;
    }

}