@charset "utf-8";
/* CSS Document */



.container {
    width: 90%;
    max-width: auto;
    margin: 2px auto;
	
	
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#333;
	 border-radius:8px;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 22px;
    color:#fff;
	text-decoration:none;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    border-top: px solid #FFF;
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
	width:100%;
}

.nav > li li > .parent {
    background-image: url("images/rightArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}

.nav > li.hover > ul {
    left: -20%;
}
.nav li li.hover ul {
    left: 72%;
    top: 1px;
	width:auto;
	border:1px solid #FFF;
}
.nav li li a {
    display: block;
    background: #000000;
    position: relative;
    z-index:100;
    border-top: 1px solid #fff;
	border-radius:4px;
}
.nav li li li a {
    background:#000;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

/*@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}*/