

.inner{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 20px;
    /* padding: 2px;
    border: 1px solid black; */
    font-size: 16px;
    letter-spacing:1px;
}


.logo{
    width: 120px;
    padding: 5px;
}

.photo{
    width: 100%;
    height: auto;
}

.character{
    width: 120px;
    padding: 5px;
}

/* ---------------------------------- */


@media only screen and (max-width: 1024px) {

    .inner{
        font-size: 13px;
        margin-left: 20%;
        margin-right:20%;
        margin-top: 10px;
        margin-bottom: 20px;
        /* padding: 2px; 
        border: 1px solid black;*/
        
    }

    .logo{
        width: 100px;
        padding: 5px;
    }

    .character{
        width: 100px;
        padding: 5px;
    }

}

@media screen and (max-width: 480px) {

    .inner{
        font-size: 9px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        margin-bottom: 20px;
        /* padding: 2px; 
        border: 1px solid black;*/
        letter-spacing:1px;
    }

    .logo{
        width: 75px;
        padding: 5px;
    }

    .character{
        width: 75px;
        padding: 5px;
    }

}