
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^orchiddining\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.orchiddining\.in$
RewriteRule ^/?$ "https\:\/\/orchiddining\.in\/" [R=301,L]
